body {
    background-color: rgb(54, 54, 54);
    color: white;
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background: black;
    padding: 20px 40px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
}

section {
    color: white;
    display: flex;
    margin: 20px
}

.features div {
    width: 100px;
    margin: auto;
    background: gray;
}

footer {
    background: black;
    padding: 10px 20px;
}