a {
    outline: none;
}

#brand {
    font-size: 1.8rem;
}

@media only screen and (max-width:450px) {
    #brand {
        font-size: 1.4rem;
    }
}

h2 {
    margin-top: 15;
    margin-bottom: 15;
}

#pagenavbar>ul>li>a {
    color: #9e9e9e;
    text-decoration: underline solid transparent;
    transition: text-decoration 500ms ease;
}

#pagenavbar>ul>li>a:hover {
    color: white;
    text-decoration: underline solid white;
}

#btn-links .col {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-links .col .btn-large {
    width: 90%;
    min-width: 170px;
    max-width: 220px;
}

.parallax-container {
    height: 20vw;
}

.card-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-image {
    background-repeat: no-repeat;
    min-width: 300px;
}

#arm-image {
    background-image: url(images/arm.png);
    background-position: center;
}

#ichack-image {
    background-image: url(images/educate.png);
    background-position: top;
}

#vitatrak-image {
    background-image: url(images/vitatrak.png)
}

#projects .card-image {
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.card-content ul li {
    list-style-type: disc;
}

#firetech-image {
    margin-top: 7vh;
}

@media only screen and (max-width: 992px) {
    #firetech-image {
        margin-top: 1vh;
    }
}

#ysj-images {
    margin-top: 2vh;
}