.parallax-container {
    height: 20vw;
}

a {
    outline: none;
}

h2 {
    margin-top: 15;
    margin-bottom: 15;
}

#btn-links .col {
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn-links .col .btn-large {
    width: 90%;
    min-width: 170px;
    max-width: 220px;
}

.card-content ul li {
    list-style-type: disc;
}